telegram:
  botName: OtusChatWithTeacherBot
  botToken: 821627745:AAES4-3c9qEvFtoiefr_gKNeSL0nTDSeba0

spring:
  thymeleaf:
    cache: false
  datasource:
    url: jdbc:h2:mem:telegramBd
    driverClassName: org.h2.Driver
    username: sa
    password: sa
  jpa:
    hibernate:
      ddl-auto: none
    database-platform: org.hibernate.dialect.H2Dialect
    properties:
      hibernate:
        show_sql: true
        use_sql_comments: true
        format_sql: true

  h2:
    console:
      enabled: true
